<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lixiyun.server.mapper.AdminMapper">

    <sql id="adminVoSql">
        SELECT
            a.id,
            a.login_account AS loginAccount,
            a.username,
            a.email,
            a.mobile,
            a.status,
            a.ban_time AS banTime,
            a.ban_end_time AS banEndTime,
            a.ban_reason AS banReason,
            a.created_time AS createdTime,
            a.updated_time AS updatedTime,
            r.name AS role,
            c.username AS createdByName
        FROM admin a
        LEFT JOIN person_role pr ON pr.person_id = a.id
        LEFT JOIN role r ON r.id = pr.role_id
        LEFT JOIN admin c ON c.id = a.created_by
    </sql>

    <select id="selectAdminPage" resultType="org.lixiyun.pojo.vo.admin.user.AdminVO">
        <include refid="adminVoSql"/>
        <where>
            <if test="queryDTO.loginAccount != null and queryDTO.loginAccount != ''">
                AND a.login_account LIKE CONCAT('%', #{queryDTO.loginAccount}, '%')
            </if>
            <if test="queryDTO.username != null and queryDTO.username != ''">
                AND a.username LIKE CONCAT('%', #{queryDTO.username}, '%')
            </if>
            <if test="queryDTO.mobile != null and queryDTO.mobile != ''">
                AND a.mobile LIKE CONCAT('%', #{queryDTO.mobile}, '%')
            </if>
            <if test="queryDTO.status != null">
                AND a.status = #{queryDTO.status}
            </if>
        </where>
        ORDER BY a.created_time DESC
    </select>

    <select id="selectAdminVOById" resultType="org.lixiyun.pojo.vo.admin.user.AdminVO">
        <include refid="adminVoSql"/>
        WHERE a.id = #{id}
    </select>

</mapper>