<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lixiyun.server.mapper.PersonTempPermissionMapper">

    <select id="pageTempPermissionList" resultType="org.lixiyun.pojo.vo.admin.permission.TempPermissionVO">
        SELECT
        ptp.id,
        ptp.person_id AS personId,
        person.username AS personUsername,
        ptp.permission_id AS permissionId,
        p.perms,
        p.name AS permissionName,
        p.group_name AS groupName,
        ptp.start_time AS startTime,
        ptp.expire_time AS expireTime,
        ptp.status,
        ptp.grant_reason AS grantReason,
        ptp.grant_user_id AS grantUserId,
        grant_user.username AS grantUsername,
        ptp.created_time AS createdTime
        FROM person_temp_permission ptp
        LEFT JOIN permission p ON ptp.permission_id = p.id
        LEFT JOIN user person ON ptp.person_id = person.id
        LEFT JOIN user grant_user ON ptp.grant_user_id = grant_user.id
        <where>
            <if test="personId != null">
                AND ptp.person_id = #{personId}
            </if>
            <if test="status != null">
                AND ptp.status = #{status}
            </if>
        </where>
        ORDER BY ptp.created_time DESC
    </select>

</mapper>